*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-top {
  background: rgb(235, 235, 242)!important;
  width: 100%!important;
  overflow: hidden;
}
.ant-layout-sider{
  background: teal!important;
}
.ant-menu-light {
  background: teal!important;
  color: #fff!important;
}
.ant-menu-title a:hover {
  color: white;
  opacity: 0.6;
}
.app-icon-flex {
  display: flex;
}
.app-icon-flex div {
  margin-left: 15px;
}
.app-icon-flex div:hover {
  cursor: pointer;
}
.ant-layout-sider-trigger {
  background-color: teal!important;
}
.toggleBtn:hover {
  cursor: pointer;
}
.ant-drawer-title {
  color: #fff!important;
}
.ant-menu-item-icon, .ant-menu-title-content:hover {
   opacity: 0.6;
   color: #fff!important;
}

@media screen and (max-width: 768px){
  .hide {
    display: none;
  }
  .mob-w {
    background: red!important;
    justify-content: space-between;
    width: 100%;
  }
}