*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-top {
  background: rgb(235, 235, 242)!important;
  width: 100%!important;
  overflow: hidden;
}
.ant-layout-sider{
  background: teal!important;
}
.ant-menu-light {
  background: teal!important;
  color: #fff!important;
}
.ant-menu-title a:hover {
  color: white;
  opacity: 0.6;
}
.app-icon-flex {
  display: flex;
}
.app-icon-flex div {
  margin-left: 15px;
}
.app-icon-flex div:hover {
  cursor: pointer;
}
.ant-layout-sider-trigger {
  background-color: teal!important;
}
.toggleBtn:hover {
  cursor: pointer;
}
.ant-drawer-title {
  color: #fff!important;
}
.ant-menu-item {
  background: transparent!important;
  color: #fff;
}
.ant-menu-sub {
  
  background: teal!important;
}
.ant-menu-icon {
  color: teal!important;
}
.ant-menu-item:hover {
  background: #fff!important;
  color: teal!important;
}
.ant-menu-title-content a {
  color: #fff!important;
}
.ant-menu-title-content a:hover {
  color: teal!important;
}
.chartjs-render-monitor ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.chartjs-render-monitor li {
  margin-right: 20px;
}
@media screen and (max-width: 768px){
  .hide {
    display: none;
  }
  .mob-w {
    background: red!important;
    justify-content: space-between;
    width: 100%;
  }
}